useDynLib(mvst, .registration = TRUE, .fixes = "C_")
export(bivPlot)
export(cmlSE)
export(mcSE)
export(rmvSE)
export(dmvSE)
export(summary.mcSE)
export(coef.mcSEsummary)
export(MNmargLike)
importFrom("grDevices", "colorRampPalette", "rgb")
importFrom("graphics", "contour", "hist", "image", "layout", "lines", "par", "plot", "points", "polygon")
importFrom(MCMCpack, riwish)
importFrom(mvtnorm, dmvnorm, rmvnorm, dmvt)
importFrom(mnormt, rmnorm, dmnorm)
importFrom("stats", "cov", "cov2cor", "dnorm", "integrate", "lm", "pnorm", "pt", "rgamma", "rnorm", "uniroot", "var")
S3method(coef, mcSEsummary)
S3method(summary, mcSE)
